.claude/

**/__pycache__
.pytest_cache/
.vscode/
*.lock

# Added by cargo
/target
__pycache__/

docs/plans
test_pdf.py
# Copyrighted source material (HCM/Green Book/MUTCD extracts) - keep local only
/resources/
/additional.md
/greenbook_front.md
/greenbook_appendix.md
