[package]
name = "xtask"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1"
serde = { version = "1", features = ["derive"] }
serde_yaml = "0.9"
regex = "1"
indexmap = { version = "2", features = ["serde"] }   # <-- add features=["serde"]
